/* newsLettr */

.News{
    margin-top: 0;
     background:linear-gradient(to right, rgb(90, 90, 155) 40%, rgb(77, 63, 201) 60%);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* justify-content: center; */
    text-align: center;
  }
  .News h1{
    padding-top: 12px;
    color: white;
  }
  
  #subscribe{
   
    background:linear-gradient(to right, rgb(73, 73, 128) 40%, rgb(77, 63, 201) 60%);
      border: 1px solid black;
      border-radius: 50px;
      padding: 12px 15px;
      margin: 8px 0;
      width: 500px;
      height: 30px;
      margin-right: 10px;
      font-size: 15px;
      font-weight: 600;
     
  
  }
  #subscribe:hover{
    background: honeydew;
  }
  .input{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  input{
    border: none;
    color: black;
  }
  #subsBut{
    border-radius: 50px;
    /* border: 1px solid blue; */
    background-color: rgb(231, 231, 245);
    color: blue;
    font-size: 12px;
    font-weight: 400;
    padding: 8px 20px;
    transition: transform 80ms ease-in;
    
  }
  #subsBut:focus { outline: none; }

  #subscribe:focus{
    outline: none;
  }
  .News p{
    font-size: 10px ;
    /* width: 600px; */
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

  @media  screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    .News{
      margin-top: 30px;
    }
    .News h1{
      padding-top: 12px;
      font-size:14px ;
    }
    .News p{
        font-size: 10px ;
        padding-left: 12px;
        padding-right: 12px;
    }
    #subscribe{
        border-radius: 40px;
        padding: 10px 12px;
        margin: 6px 0;
        width: auto;
        height: 25px;
        margin-right: 10px;
        font-size: 10px;
        font-weight: 300;

    
    }

    
    #subsBut{
      font-size: 7px;
      padding: 6px 15px;}

  }



  /* .column {
      color:white;
    float:left;
     text-align:center;
      width: 33.33%;
      padding: 10px;
      height: auto; /* Should be removed. Only for demonstration */
    /* }
    #footer{
        background: black;
    } */ 
